<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>StackinSat</title>
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">


</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <!-- Navigation -->
<!--  <div th:replace="fragments/header :: header">&nbsp;</div>-->
  <!-- Page Content -->

<div>HELLO ADMIN</div>
<!--  <div th:replace="fragments/footer :: footer">&copy; 2016 The Static-->
<!--    Templates-->
<!--  </div>-->
</div>
<!-- Bootstrap core JavaScript -->
<script src="../static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js }"></script>

</body>
</html>

