<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <!-- Navigation -->
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <!-- Page Content -->

    <div class="inner cover">
        <h4 class="cover-heading mb-5" th:text="|Portfolios|"></h4>

        <div id="portfolio-container" class="container-fluid">
            <div class="row">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th th:text="Title">Title</th>
                        <th th:text="Description">Description</th>
                        <th th:text="Tags">Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${portfolios}">
                        <td class="col-lg-3"><a href="#"
                                                th:href="@{/portfolios/{id}(id=${p.id})}"
                                                th:text="${p.title}">Portfolio Title</a></td>
                        <td class="col-lg-6 text-white"
                            th:text="${#strings.abbreviate(p.description,150)}">yes
                        </td>
                        <td class="col-lg-3">
                            <div th:unless="${#lists.isEmpty(p.tags)}"
                                 style="text-align: center;">
                                <span th:each="t: ${p.tags}" th:text="${t.name}"
                                      class="label bg-primary">Hibernate</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="../static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js }"></script>
</body>
</html>